<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign-language</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <div class="container">
    <h1>Sign-language</h1>
    <p class="lead">A gesture to speech application that uses the LeapMotion to track gestures and the WekiMini to map gestures to sentences.</p>

    <div id="app">
      <ul class="list-group">
        <template v-for="sentence in sentences">
          <li v-if="$index == focused" class="list-group-item focused">
            <p class="input-group">
              <span class="input-group-addon">Sentence</span>
              <input type="text" class="form-control lead" v-model="sentence.text">
            </p>
            <div class="btn-group btn-group-justified">
              <template v-if="sentence.recording">
                <a v-on:click="recordStop(sentence)" class="btn btn-danger">Stop recording</a>
              </template>
              <template v-else>
                <a v-on:click="recordStart(sentence)" class="btn btn-success">Record gesture</a>
                <a v-on:click="delete(sentence)" class="btn btn-warning">Delete sentence</a>
              </template>
            </div>
          </li>

          <li v-else v-on:click="focus(sentence)" class="list-group-item out-of-focus">
            {{ sentence.text }}
          </li>

        </template>
      </ul>
    </div><!-- /#app -->

  </div><!-- /.container -->

  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/lodash.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <script src="/static/js/app.js"></script>

</body>
</html>
